section{
    text-align: center;
}
.box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
body{
    background-color: cadetblue;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px peru;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.cell:hover{
    background-color: rgb(204, 144, 144);
}
button{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border: 2px solid goldenrod;
}
button:hover{
    box-shadow: 5px 5px 15px black;
    border: 2px solid transparent;
    border-radius: 2px;
}