body{
    background-color: white;
}
div div{
    position: relative;
    left: 5%;
    width: 80%;
    color: black
}
@font-face{
    font-family: Nunito;
    src: url('../fonts/Nunito-Bold.ttf');
}
.text{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 100;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}
@font-face{
    font-family: Goldman;
    src: url('../fonts/Goldman-Regular.ttf');
}
div a{
    font-family: Goldman;
    font-size: 20px;
    font-weight: 100px;
    color: rgb(214, 207, 207);
    text-decoration: none;
    padding-right: 5px;
    margin-right: 5px;
}
div a:hover{
    color: rgb(65, 35, 35);
}
@media only screen and (max-width:1100px){
    div a{
        font-size: 10px;
        font-weight: 100px;
    }
}