@font-face{
    font-family: Goldman;
    src: url('../fonts/Goldman-Regular.ttf');
}
.body--about{
    display: flex;
}
.my-intro{
    position: relative;
    font-family: Goldman;
    width: 50px;
    left: 80%;
}
.color-change{
    color: white;
}
@media only screen and (max-width:280px){
    .my-intro{
        position: relative;
        font-family: Goldman;
        width: 50px;
        left: 38%;
    }
}
@media only screen and (max-width:800px){
    .my-intro{
        position: relative;
        font-family: Goldman;
        width: 50px;
        left: 47%;
    }
}