body{
    flex: 1;
}
.moon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-left: 6px solid black;
    transform: rotate(220deg);
}
.moon-change{
    border-left: 6px solid white;
    color: white;
}
.dark-mode{
    background-color: rgb(35, 35, 35);
    color: white;
}
@media screen and (max-width: 750px){
    .moon{
        height: 30px;
        width: 30px;
        border-radius: 100%;
        border-left: 6px solid black;
        transform: rotate(220deg);
    }
    .moon-change{
        border-left: 6px solid white;
        color: white;
    }
    .dark-mode{
        background-image: linear-gradient(rgb(35, 35, 35)50%, rgb(35, 35, 35)50%) ;
        color: white;
    }
}
