@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
    font-family: cova;
    src: url('../fonts/Pacifico-Regular.ttf');
}
li a{
    text-decoration-line: none;
    color: rgba(25, 25, 112, 0.945);
}
.hac{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 5;
    font-family: Nunito;
    min-width: 100px;
}
.about{
    grid-row: 1;
    grid-column: 1/1;
    list-style-type: none;
}
.project{
    grid-row: 1;
    grid-column: 2/2;
    list-style-type: none;
}
.contact{
    grid-row: 1;
    grid-column: 3/3;
    list-style-type: none;
}
.resume{
    grid-row: 1;
    grid-column: 4/4;
    list-style-type: none;
}
.Home_Image{
    border: 2px double gold;
    margin: 2px;
    padding: 2px;
    margin-top: 10px;
    grid-row: 2;
    grid-column: 3/3;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

    .name{grid-area: name;}
    .desg{grid-area: desg;}
.np{
   display: grid;
   grid-template-areas: 
   "name"
   "desg"
   ;
   position: relative;
   text-align: center;
}
.dev-p{
    text-align: center;
}
.name{
    font-family: cova;
    font-size: 30px;
}
.desg{
    font-family: Nunito;
    font-family: 27px;
}
@media screen and (max-width:720px){
    .secOne{
        min-width: 100px;
    }
    li a{
        text-decoration-line: none;
    }
    @font-face {
        font-family: Nunito;
        src: url('../fonts/Nunito-Bold.ttf');
    }
    body{
        display: grid;
        min-width: 100px;
        text-align: center;
    }
    .hac{
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 5;
        list-style-type: none;
        grid-gap: 10px;
        font-family: Nunito;
        font-size: 10px;
        min-width: 100px;
    }
    .Home_Image{
        grid-row: 1/1;
        grid-column: 1/2;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 1px;
        margin: 1px;
        border: 2px double goldenrod;
    }
    .about{
        grid-row: 1/1;
        grid-column: 2/3;
        margin: 2px;
        border: 2px;
        padding: 2px;
        margin-top: 20px;
    }
    .project{
        grid-row: 1/1;
        grid-column: 3/4;
        margin: 2px;
        border: 2px;
        padding: 2px;
        margin-top: 20px;
        
    }
    .contact{
        grid-row: 1/1;
        grid-column: 4/5;
        margin: 2px;
        border: 2px;
        padding: 2px;
        margin-top: 20px;
    }
    .resume{
        grid-row: 1/1;
        grid-column: 5/6;
        margin: 2px;
        border: 2px;
        border-radius: 15px;
        padding: 2px;
        margin-top: 20px;
    }

    /* The name, picture and what i do part */
    .name {grid-area: name;}
    .desg {grid-area: desg;}
    .dev-p {grid-area: dev-p;}

    .np{
        display: grid;
        grid-template-areas: 
    "name"
    "desg"
    "dev-p"
   ;
   position: relative;
   text-align: center;
    }
    
    
    .name{
        font-family: Nunito;
        text-align: center;
        font-size: 25px;
        text-align: center;
    }
    .dev-p{
        text-align: center;
        max-width: 750px;
    }
    .dev{
        height: 300px;
        width: 300px;
        text-align: center;
    }
}
