@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
    font-family: cova;
    src: url('../fonts/Pacifico-Regular.ttf');
}
.image{grid-area: image;}
.about{grid-area: about;}
.projects{grid-area: projects;}
.contact{grid-area: contact;}
.resume{grid-area: resume;}
.moon{grid-area: moon;}


nav{
    margin-top: 2.5%;
    display: grid;
    grid-template-areas: 
    'image about projects contact resume moon'
    ;
}
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
header{
    height: 100px;
    background: rgba(38, 38, 38, 0.678);
    width: 100%;
    z-index: 12;
    position: fixed;
}

@font-face{
    font-family: Nunito;
    src: url(Nunito-Bold.ttf);
}


.image{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    position: relative;
    bottom: 22%;
}  
nav a{
    text-decoration: none;
    font-family: Nunito;
    color: white;
}
.np{
    padding-top: 12%;
}
    
.dev-p{
    text-align: center;
}
.name{
    font-family: cova;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 2px;
}
.desg{
    font-family: Nunito;
    font-family: 27px;
}
.dev{
        opacity: 0.5;
        border: 2px double silver;
        border-radius: 12px;
}
@media screen and (max-width:720px){

    .secOne{
        min-width: 100px;
    }
    @font-face {
        font-family: Nunito;
        src: url('../fonts/Nunito-Bold.ttf');
    }
    body{
        display: grid;
        min-width: 100px;
        text-align: center;  /*new*/
        background-image: linear-gradient(to right,silver,rgba(154, 129, 220, 0.2));
         /*new*/
    }
    
    nav a{
        text-decoration: none;
        font-family: Nunito;
        color: white;
        font-size: 12px;
    }
nav{
    margin-top: 10%;
    display: grid;
    grid-template-areas: 
    'image about projects contact resume moon'
    ;
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
header{
    height: 100px;
    background: rgb(38, 38, 38, 0.678);
    width: 100%;
    z-index: 12;
    position: fixed;
}

@font-face{
    font-family: Nunito;
    src: url(Nunito-Bold.ttf);
}


.image{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    position: relative;
    bottom: 22%;
} 
.np{
    padding-top: 30%;
}

    
    
    .name{
        font-family: Nunito;
        text-align: center;
        font-size: 25px;
        text-align: center;
    }
    .dev-p{
        text-align: center;
        max-width: 750px;
    }
    .dev{
        height: 300px;
        width: 300px;
        text-align: center;
        opacity: 0.5;
        border: 2px double silver;
        border-radius: 12px;
    }
}
