@font-face {
    font-family: cova;
    src: url('../fonts/Pacifico-Regular.ttf');
    }
@font-face {
        font-family: Nunito;
        src: url('../fonts/Nunito-Bold.ttf');
    }
.rme{grid-area: rme;}
.love{grid-area: love;}
.class{grid-area: togeda;}
.reach{
    display: grid;
    grid-template-areas: 
    "rme"
    "love"
    "togeda"
    ;
    text-align: center;
}
.rme{
    font-family: cova;
}
.love{
    font-family: Nunito;
}
.togeda{
    font-family: Nunito;
}
.contact-me{grid-area: contact;}
.contact-me{
    /* display: grid;
    grid-template-areas: 
    "contact"
    ; */
    text-align: center;
    padding: 2px;
    margin: 2px;
    border: 2px;
    font-family: cova;
    font-size: 20px;
}
.mail{
    height: 10px;
    width: 20px;
}
.accounts{
    text-align: center;
    margin-top: 20px;
}
.githubp{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.twitterp{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.discordp{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
@media screen and (max-width: 750px){
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
font-family: cova;
src: url('../fonts/Pacifico-Regular.ttf');
}
    .rme{grid-area: rme;}
    .love{grid-area: love;}
    .togeda{grid-area: togeda;}
    .reach{
    display: grid;
    grid-template-areas: 
    "rme"
    "love"
    "togeda"
    ;
    position: relative;
}
.rme{
    text-align: center;
    font-family: cova;
    font-size: 30px;
    position: relative;;
}
.love{
    font-family: Nunito;
    text-align: center;
    position: relative;;
}
.togeda{
    font-family: Nunito;
    text-align: center;
    position: relative;;
}
.cme{
    border: 2px double;
    border-radius: 12px;
    text-align: center;
    font-family: Nunbold;
    position: relative;
    border-top-color: goldenrod;
    border-bottom-color: silver;
    background-color:rgba(128, 128, 128, 0.692);
}
.mail{
    border: 2px;
    padding: 2px;
    margin: 2px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 7px;;
}
}