
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Nunito;
    src: url('fonts/Nunito-Bold.ttf');
}
body{
    transition: background 1.0s linear;
}
body.dark{
    background-color: rgb(41, 39, 39);
}
.animated-picture-cover{
    flex: 10;
}
.animated-picture{
    margin-top: 1%;
    margin-left: 1%;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px double gold;
}
.menu{
    flex: 1;
    position: relative;
    top: 25%;
    justify-content: space-between;
}
@media only screen and (max-width:2100px){
    *{
        margin: 0;
        padding: 0;
    }
    .wrapper{
        display: none;
    }
    .animated-picture{
        transform: scale(0.7);
    }
    .moon-container{
        transform: scale(0.8);
    }
    .wrapper--mobile{
        display: flex;
        background-color: black;
    }
    .menu--items--mobile{
       display: flex;
       align-items: center;
       justify-content: center;
       position: fixed;
       left: 0;
       right: 0;
       height: 100vh;
       width: 50%;
       background-color: black;
       flex-direction: column;
       line-height: 90px;
       transform: translateX(-100%);
       transition: transform 0.2s linear;
       z-index: 2;
    }
   .menu--items--mobile.active{
        transition: transform 0.2s linear;
        transform: translateX(0%);
   }
   .menu--items--mobile a{
       text-decoration: none;
       color: white;
       font-size: 27px;
       text-transform: uppercase;
   }
   .menu--items--mobile a:hover{
       color: orange;
   }
   .fa-bars{
       color: #fff;
       position: relative;
       top: 25px;
       border: 1px solid white;
       padding: 5px;
   }
}